<html>
    <head>
        <title>Quiz</title>
        <h1>Quiz</h1>

    </head>
    <body>

        <div class=container></div>
            <b>input file</b>
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile" />
        <div class="container1"</div>
            <b>Question</b>
                <div class="container2"</div>
        <form method="post">
            <label for="Answer">Answer</label>
            <input type="text" name="Answer" />
            <button type="submit" name="button"></button>
        </form>

    </body>
</html>