<html>
    <head>
        <title>Quiz</title>
        <h1>Quiz</h1>

    </head>
    <body>

        <div class="input_file">
            <b>input file</b>
            <form action="api/csv" method="post" enctype="multipart/form-data">
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile" />
                <input type="submit"/>
            </form>
        </div>
                
        <div class="Show_answer">
            <b>Answer</b>
        <form method="post">
            <label for="Answer">Answer</label>
            <input type="text" name="Answer" />
            <button type="submit" name="button"></button>
        </form>

    </body>
</html>